<h3 class="text-muted">
  Heroes search result
</h3>

<hr>

<div class="row" *ngIf="heroes.length === 0">
  <div  class="col-md-12">
    <!-- <h4 class="text-center text-muted">No heroes found :(</h4> -->
    <div class="alert alert-info" role="alert">
      No heroes found for {{ searchParam }}
    </div>
  </div>
</div>

<!-- CARD COLUMNS: AUTO -->
<div *ngIf="heroes.length > 0" class="card-columns mt-4 animated fadeIn fast">

  <!-- CARD: NGFOR -->
  <app-hero-card [hero]="hero" *ngFor="let hero of heroes" [index]="hero.id">
  </app-hero-card>
  <!-- CARD: NGFOR -->

</div>
<!-- CARD COLUMNS: AUTO -->
